* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html {
   font-size: 62.5%;
}

body {
   font-size: 1.8rem;
}

.container {
   background-color: blueviolet;
   border: burlywood 2px solid;

   display: grid;
   /* grid-template-columns: [Inicio] 1fr [linea2] 1fr [linea3] 1fr [destacado-end] 1fr [linea5] 1fr [destacado2-end] 1fr [linea7] 1fr [FINAL]; */
   /* grid-template-columns: repeat(7, 1fr); */
   grid-template-columns: [Inicio] 1fr [linea2] 1fr [linea3] 1fr [destacado-end] 1fr [linea5] 1fr [destacado2-end] 1fr [linea7] 1fr [Final];

   /* grid-template-rows: [Inicio1] 200px [inicio2] 200px [Finalf] */
   grid-template-rows: [Inicio1] 200px [Inicio2] 200px [Final];

   gap: 10px;
   height: 100vh;
}

.item {
   background-color: darkcyan;
   border: red 2px solid;
}

.item:nth-of-type(1) {
   background-color: yellowgreen;
   grid-column: Inicio / destacado-end;
   grid-row: Inicio1 / Final;
}

.item:nth-of-type(2) {
   background-color: cornflowerblue;
   grid-column: destacado-end / destacado2-end;
   grid-row: Inicio1 / Final;
}

.item:nth-of-type(3) {
   background-color: chocolate;
   grid-column: destacado2-end / final;
}
